@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
   <div class="col text-center">
       <h1 class="display-5">Benvenuti sul sito ufficiale di spedizioni BRR</h1>
       <hr />
   </div>
</div>
<div class="row custom-container px-1 py-3">
    <div class="col-12 col-md-6">
       <h3 class="display-6 text-center ">Affidabilità e puntualità</h3>
       <hr />
        <p class="fs-5 fw-light">Affidati a BRR, azienda leader nel settore delle spedizioni. Da anni siamo un punto di riferimento per chi cerca affidabilità e sicurezza nei servizi di trasporto. </p>
    </div>
    <div class="col-12 col-md-6">
        <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./CarouselImg/Img-3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./CarouselImg/Img-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./CarouselImg/Img-2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="row gap-3 justify-content-center">
    <h3 class="display-6 text-center pt-5">
        In Evidenza
    </h3>
    <hr />
    <div class="col-6 col-sm-6 col-md-2 p-3 custom-container-1">
        <h5 class="col-12">Spedisci online</h5>
        <p class="col-12">
            Acquista la tua spedizione online in modo facile e veloce
        </p>
        <a href="#" class="link-light">Inizia a spedire ></a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 p-3 custom-container-2">
        <h5 class="col-12">Mittente</h5>
        <p class="col-12">
            Accedi all'Area Clienti e gestisci in autonomia le tue spedizioni
        </p>
        <a href="#" class="link-dark">Inizia ></a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 p-3 custom-container-1">
        <h5 class="col-12">Prenota un ritiro</h5>
        <p class="col-12">
            Prenota il ritiro di un pacco in una delle nostre sedi più vicine a te
        </p>
        <a href="#" class="link-light">Prenota ></a>
    </div>
    <div class="col-6 col-sm-6 col-md-2 p-3 custom-container-2">
        <h5 class="col-12">Destinatario</h5>
        <p class="col-12">
            Gestisci in autonomia e flessibilità le tue spedizioni
        </p>
        <a href="#" class="link-dark">Inizia ></a>
    </div>
    
</div>
<div class="row px-1 py-5 mt-5 custom-container">
    <div class="col-12 col-md-6">
        <h5 class="display-6">Servizi per il tuo e-commerce</h5>
        <p>
            Oggi lo shopping online richiede massima flessibilità, velocità ed efficienza in ogni fase, anche durante la consegna. Per questo mettiamo a tua disposizione una gamma di servizi dedicati al mondo e-commerce, per rendere la tua attività ancora più semplice, sicura e performante.
        </p>
        <p>Scopri i servizi che possono far crescere il tuo business online!</p>
        <button class="btn btn-outline-light">Altre informazioni</button>
    </div>
    <div class="col-12 col-md-6">
        <img src="./Img/Img-4.jpg" class="img-fluid"/>
    </div>
</div>
<div class="row p-3 mt-5 custom-container-2 rounded-0">
    <div class="col">
        <h5 class="display-6">Come possiamo aiutarti oggi?</h5>
        <hr />
        <p>Stai aspettando il pacco con l’oggetto che desideri ma non sei a casa? Hai inviato una spedizione importante e vuoi che il ricevente sia avvolto dal tuo amore? Ti serve una scatola speciale per contenere i tuoi sogni? <strong>Scopri come possiamo aiutarti con la nostra azienda di spedizioni espresse.</strong> </p>
        <button class="btn btn-outline-dark">Scopri i nostri servizi</button>
    </div>
    <div class="col custom-container-1 p-3 rounded-0 ">
        <h5 class="display-6">Scrivici</h5>
        <p>BRR si occupa delle tue spedizioni, ma anche di te che le spedisci o le ricevi. Siamo a disposizione 24 ore su 24: compila il form “Contatti”. </p>
        <button class="btn btn-outline-light">Vai al form</button>
    </div>
</div>
